@charset "utf-8";

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Th';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2') format('woff2');
    font-style: normal;
}



/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'LINESeedKR-Rg';
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* description tool tag */
.tag-html {
    background-color: dodgerblue;
}

.tag-css {
    background-color: tomato;
}

.tag-js {
    background-color: gold;
}

.tag-jq {
    background-color: pink;
}

.tag-ps {
    background-color: yellowgreen;
}

.tag-ai {
    background-color: mediumpurple;
}

.tag-pr {
    background-color: lightslategray;
}

/* 격자무늬 배경 */
.intro,
.about,
.clone,
.graphic {
    background-color: white;
    background-image: linear-gradient(gainsboro 1px, transparent 1px), linear-gradient(to right, gainsboro 1px, white 1px);
    background-size: 40px 40px;
}

/* 개별 배경색 */
#sec01 {
    background-color: gainsboro;
}

#sec02 {
    background-color: rgb(150, 196, 241);
}

#sec03 {
    background-color: rgb(161, 235, 200);
}

#sec04 {
    background-color: rgb(255, 208, 120);
}

/* card */
.card {
    width: 90%;
    height: 80%;
    background-color: white;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    padding: 5%;
}

.web .card,
.clone .card,
.graphic .card {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
}

/* 타이틀 */
.title {
    font-family: 'LINESeedKR-Bd';
    font-size: 2rem;
    line-height: 1.1;
}

.web .title {
    color: white;
}

/* 상단메뉴 */
nav {
    position: fixed;
    width: 100vw;
    padding-right: 15px;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 5;
}

nav .main {
    float: right;
}

nav .main li {
    height: 25px;
    line-height: 1.5;
    float: left;
    font-size: 20px;
    padding: 0 15px;
}

nav .main li:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

/* intro */

.intro {
    position: relative;
}

.intro .title {
    background: linear-gradient(45deg, black, transparent);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.05);
    font-size: 6rem;
}

.arrow {
    position: absolute;
    left: calc(50% - 48px);
    bottom: 0;
    animation: arrow-down 1s infinite;
}

@keyframes arrow-down {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

/* 자기소개 */
.prof_img {
    width: 300px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.profile {
    display: flex;
    justify-content: space-around;
    align-items: top;
}

.profile span {
    font-family: 'LINESeedKR-Bd';
    font-size: 1.5rem;
}
.prof_text{font-size: 1.2rem;}
.prof_text a:hover{
text-decoration: underline;
}

.skill_container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.skill_container p {
    color: rgb(255, 0, 128);
    text-align: center;
}

/* 웹디자인 내용 */
.content {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mockup {
    width: 500px;
}

.design_text {
    margin-left: 5vw;
    width: 500px;
    padding: 50px;
    font-size: 1.2rem;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.design_text h2 {
    font-family: 'LINESeedKR-Bd';
}

.design_text p {
    margin: 20px auto;
}

.button {
    font-family: 'LINESeedKR-Bd';
    display: inline-block;
    border: 1px solid gray;
    background-color: white;
    font-size: 22px;
    text-align: center;
    padding: 0 22px 0 15px;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
}

.button i{font-size: 28px;}

.button:hover{
    background-color: dimgray;
    color: white;
}
/* 클론코딩 */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.item {
    position: relative;
    overflow: hidden;
}

.item img {
    width: 100%;
}

.clone_text {
    font-family: 'LINESeedKR-Rg';
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clone_text a{font-size: 24px;}
.clone_text a:hover{color: gray;}

/* 그래픽 디자인 */

/* 반응형 */


@media screen and (max-width:1024px) {}

@media screen and (max-width:768px) {}